body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #4B70F5;
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}



section {
    margin-bottom: 20px;
}

label, input, button, p {
    
    margin: 10px auto;
    text-align: center;
}

input {
    padding: 12px;
    width: calc(100% - 24px);
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 12px 20px;
    cursor: pointer;
    border: none;
    background-color: #4B70F5;
    color: white;
    border-radius: 8px;
    margin: 5px;
    font-size: 16px;
}

.operation-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.operation-input {
    width: calc(50% - 10px);
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.operation-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

#statusBar {
    display: flex;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #4B70F5;
    margin-top: 20px;
    width: 100%;
    background-color: #e9f5ff;
    overflow: hidden;
}

.statusPartition {
    height: 100%;
    border-radius: 15px;
    background-color: #4B70F5;
    transition: width 0.3s;
}

#statusLabel {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}




.card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    margin: 14px;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #536493;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.link {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    color: #007bff;
    text-decoration: none;
    border: 2px solid #007bff;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .link:hover {
    background-color: #007bff;
    color: white;
  }

#backToHome {
    position: absolute;
    font-size: 40px; /* Adjust the font size as needed */
    
    color: rgb(255, 255, 255); /* Arrow color */
    padding: 10px;
    text-decoration: none;
    border-radius: 50%; /* Make the button circular */
    display: flex;
    justify-content: center;
    align-items: center;
}

#backToHome:hover {
   
    color: #ffffff; /* Arrow color on hover */
}


#trackTime {
    background-color: #a9bae9;
    font-size: 12px; /* Adjust the font size as needed */
    color: black; /* Text color */
    padding: 10px 20px; /* Padding for better button appearance */
    border-radius: 8px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Ensure padding and background are applied */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); /* Optional shadow for better visibility */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for color change */
}








#summaryContainer {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#summaryContainer h2 {
    margin-top: 0;
}

#summaryContainer p {
    margin: 10px 0;
}

canvas {
    border: 1px solid #ccc;
    background-color: white;
}
/* General Styles */

